<!DOCTYPE html>
<html lang="en">
<head>
   <title>WEB POS</title>
   <link rel="stylesheet" href="../css/style2.css">   
</head>
<body style="background-image: url('../images/main.png');">
  <% include include/adminnav.ejs %>

 <section style="width: 100%;min-height: 500px;margin-left: 25%; margin-right: 25%;">
     
 </section>

<footer>
      <% include include/footer.ejs %>
</footer>
</body>
</html>