<!DOCTYPE html>
<html lang="en">
<head>
        <% include include/head.ejs %>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>
<body style="background-image: url('../images/main.png');" >
      <% include include/adminnav.ejs %>

 <section>
        <h1>Change Password</h1>
        <div class="login">
                
            <div style="background-color: greenyellow;" id="message"><%=message%></div>
            
            <form action="/changepassword" method="POST">
                <input type="password" name="oldpass" id="pass" class="lock active" placeholder="Current Password" onfocus="document.getElementById('message').innerHTML=''" />
                <input type="password" name="newpass" id="newpass" class="lock active" placeholder="New Password" onfocus="document.getElementById('message').innerHTML=''" />
                <input type="password" name='confirm' id="confirm" class="lock active" placeholder="Confirm password" onfocus="document.getElementById('message').innerHTML=''"  />
            
                <br> 
                <div class="login-bwn">
                    <input type="submit" value="Change Password" onclick="return checkpass()"/> &nbsp; <h4>Already Registered<a href="/"> Sign in</a></h4>
                </div>
            </form>
        </div>
  </section>

<footer>
      <% include include/footer.ejs %>
</footer>
<script>
function checkpass()
{
    let message=document.getElementById('message');
    let passtext=document.getElementById('newpass');
    let confirmtext=document.getElementById('confirm');
        if (passtext.value != confirmtext.value)
        {
            message.innerHTML="Password mismatch"
           message.value=''
           passtext.value=''
           confirmtext.value=''
            return false;
        }
        
}


</script>
</body>
</html>