<!DOCTYPE html>
<html lang="en">
<head>
   <title>WEB POS</title>
   <link rel="stylesheet" href="../css/style2.css">   
</head>
<body style="background-image: url('../images/main.png');" onload="loading()">
  <% include include/nav.ejs %>
 <section style="width: 100%;min-height: 500px;margin-left: 25%; margin-right: 25%;">
     
 </section>

<footer>
      <% include include/footer.ejs %>
</footer>
<script>
function loading()
{
  document.getElementById('hide_user').innerHTML=document.getElementById('useruser').innerHTML
}


</script>
</body>
</html>