<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .header li{
        list-style: none;
        background-color: bisque;
        font-size: 24px;
        text-align: center;
    }
    .header li a 
    {
    list-style: none;
    text-decoration: none;
    }
    
    .header li a:hover
    {
        background-color: greenyellow;
    }
    </style>
    <link rel="stylesheet" href="../css/style2.css"> 